.App {
  font-family: sans-serif;
  /* text-align: center; */
  background-color: #24232b;
  color: white;
  padding: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

.copybtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.generatebtn {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  /* margin: 5px; */
}

.title {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 18px;
  font-weight: 500;
  grid-gap: 10px;
}

.checkboxes div {
  display: flex;
  gap: 5px;
  align-items: center;
}
